:root{
  --primary-color: #002256;
  --secondary-color: #f45b14;
  --font-family: 'Roboto', sans-serif;
  --font-family-header: 'Roboto Condensed', sans-serif;
  --gray-color: #eee;
  --background-gray: #f5f5f5;
  --animate-delay: 0.5s !important;
  --animate-duration: 0.5s !important;
}

*{
  box-sizing: boder-box;
}

html, body {
	font-size: 15px;
  font-family: var(--font-family) !important;
}

body {
  font-family: var(--font-family) !important;
  background-color: white;
  line-height: 1.5;
  text-rendering: optimizespeed;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.line-brand::after {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  background-color: var(--secondary-color);
  margin-top:10px;
  margin-bottom:10px;
}

.line-about-us::after {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  background-color: var(--secondary-color);
  margin-top:10px;
  margin-bottom:10px;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 18px #1a76d242;
  }
}
/* .react-multi-carousel-track {
  padding:20px;
  display: flex;
  align-items: start;
  justify-content: center;
}
.react-multi-carousel-item{
  display: flex;
  align-items: center;
  justify-content: center;
} */